<div class="mt-4">
      <h3>Đăng bán hàng</h3>
          <form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="name">Tên hàng</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  
  <div class="form-group">
    <label for="description">Mô tả hàng cần bán</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>

   <div class="form-group">
    <label for="image">Ảnh đại diện</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>
  
  <div class="form-group">
    <label for="videoID">Hình ảnh/video</label>
    <input type="text" class="form-control" id="videoID" name="videoID">
  </div>
  
  <button type="submit" class="btn btn-primary">Thêm hàng</button>
</form>
        
</div>